<div class="container">
      <div class="row">
        <div class="xl-lg-12">
          <div id="landingContent">
            <h1>Kofster</h1>
            <h3>Connecting Hipsters to Coffee Shops</h3>
            <hr>
            <button type="button" name="button" class="btn btn-default btn-lg"><i class="fa fa-coffee" aria-hidden="true"></i> Get Started!</button>
          </div>
        </div>

      </div>
